{% extends 'base.html' %}
{% block content %}

<section class="parallax">
    <div class="caption">
        <h1 id="homecaption">Dublin's Finest Health Club</h1>
    </div>
</section>
<section class="parallax2">
    <div class="caption2">
        <h1 id="homecaption">Fight Your Limits</h1>
    </div>
</section>
<section class="parallax3">
    <div class="caption">
        <h1 id="homecaption">Relax Your Body, Mind and Soul</h1>
    </div>
</section>
<section>
    <div class="container">
    <div style="height:500px,font-size: 40px">
        <div class="row">
            <div class="col-sm-6 index-text">
              <h2 class="fronth2"><span style="color:#70044D">Escape</span> in the City with the finest Gym in Dublin, 1escape Health Club.</h2>
              <h2 class="fronth2"><span style="color:#70044D">Every</span> component of our gym membership has been carefully considered for its purpose, effectiveness and benefit.</h2>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'contact' %}" class="btn btn-primary btn-lg" role="button">JOIN NOW</a>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}