{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<div class="container">
  <div class="col-md-6 cartbutton">                                                                  
    <a class="cart_button" href="{% url 'view_cart' %}">
        <i class="fa fa-shopping-cart "></i> Cart 
        {% if product_count > 0 %}
        <label class="badge badge-warning">{{ product_count }}</label>
        {% endif %}
    </a>
  </div>  
  <div class="col-md-12">
   <table class="table table-striped">
       <thead>
       <tr>
           <th>Name</th>
           <th>Description</th>
           <th>Price</th>
           <th>Cart</th>
       </tr>
       </thead>
       <tbody>
       {% for product in products %}
           <tr>
               <td class="course-name">{{ product.name }}</td>
               <td>{{ product.description }}</td>
               <td>{{ product.price }}</td>
               <td>
                   <form method="POST" action="{% url 'add_to_cart' product.id %}">
                       {% csrf_token %}
                       Quantity
                       <input id="quantity" name='quantity' type="number" min="1" max="999">
                       <button class="btn btn-primary" type="submit">Buy</button>
                   </form>
               </td>
           </tr>
       {% endfor %}
       </tbody>
   </table>
   </div>
</div>   
{% endblock %}