@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/*------------------------------------------------Navbar*/
.navbar-default {
    min-height: 80px;
    margin-bottom: 0px;
}

.navbar-nav {
    margin-top: 30px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar  {
    background-color: #171717;
    font-size: 16px;
}

.dropdown-menu {
   background-color: #171717; 
   color: #6D6D6D;
   padding: 10px;
}

#dropdowntext {
    color: #6D6D6D;
    font-size: 14px;
}

/*------------------------------------------------Footer*/
 footer {
    background-color: #171717;
    color: #fafafa;
    padding: 0;
    margin: 0;
    min-height: 50px;
    width: 100%;
}

.social-footer li a i{
    width: 30px;
    height: 30px;
    padding: 9px 0;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    color: #fafafa;
}

#footersocial {
    background-color: #6D6D6D;
}

#footersocial:hover { 
    background-color: #c1bfbf;
}


/*------------------------------------------------Home*/
.parallax,
.parallax2,
.parallax3 {
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.parallax { 
    background-image: url("/static/img/bg1.jpg");
}

.parallax2 { 
    background-image: url("/static/img/bg2.jpg");
}

.parallax3 { 
    background-image: url("/static/img/bg3.png");
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    text-align: center;
    color: #000;
}

.caption2 {
    position: absolute;
    right: 0;
    top: 50%;
    width: 50%;
    text-align: center;
    color: #000;
}

#homecaption {
    background-color: rgba(204, 204, 204, 0.5);
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.location {
    padding-right: 100px;
}

.btn-lg {
    font-size: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    letter-spacing: 3px;
    padding: 20px 40px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.index-text {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media(min-width: 768px) {
    .btn-lg {
      margin: 120px;  
    }
}

/*------------------------------------------------Contact*/

.contactform {
    padding: 20px;
}

.legend-top {
    margin-top: 30px;
}

.joinbutton {
    list-style-type: none;
    margin-top: 20px;
}

/*------------------------------------------------Class Timetable*/

#week-navigation-list {
    text-align: center;
}


#week-navigation-list {
    margin-top: 20px;
    padding: 0;
}

#weekday {
    display: inline;
}

#week-navigation a {
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #fff;
    display: inline;
    padding: 2px 1vw 2px 1vw;
    background-color: #6D6D6D;
    font-size: 1.5em;
    vertical-align: middle;
    outline: none;
  
}

#classname {
    font-family: Roboto;
    font-size: 18px;
    text-transform: uppercase;
    color: #ff8b04;
}

.fa-arrow-circle-o-up {
    color: #70044D;
    font-size: 30px;
}

/*------------------------------------------------Courses*/

#quantity {
    margin-bottom: 10px;
}

.cart_button {
    color: #ffffff;
    background-color: #70044D;
    padding: 10px 16px;
    line-height: 1.33333;
    border-radius: 6px;
    font-size: 1.5em;
}

.cartbutton {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary {
   background-color: #70044D;
   border-color: black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.onclick {
    background-color: #540238 !important;
    border-color: black !important;
}
/*------------------------------------------------Forum*/

.subject_name {
    color: #70044D;
}

.subject_description {
    color: black;
}

/*------------------------------------------------Forum - threads*/

.thread {
    color: black; 
    padding: 10px; 
    background-color: #FBFBFB;
    border-left: 6px solid #70044D;
    
}

.thread:hover{
   background-color: #e3e4e5;
}

.thread-list {
    margin-bottom: 10px;
}

/*------------------------------------------------Forum - post*/
 
.username {
    font-weight: bold;
}

.post_count {
    text-transform: lowercase;
}

.comment {
    background-color: #FBFBFB;
    border-left: 2px solid #70044D;
}

.comment_div {
    margin-top: 20px;
    margin-bottom: 20px;
   
}

.fa-pencil-square-o,
.fa-trash-o {
    color: #70044D;
    font-size: 20px;
}

.post_container {
    margin-bottom: 30px;
    margin-top: 30px;
}

/*------------------------------------------------Headers*/

.header {
    border-bottom: 2px solid #70044D;
}

/*------------------------------------------------Courses*/

.course-name {
    font-weight: bold;
}

.bottom-margin {
    margin-bottom: 30px;
}



