{% load staticfiles %}
{% load emoticons_tags %}
{% load static from staticfiles %}
<section class="row comment col-md-9">
 <hr>
    <div class="col-md-3 comment-profile">
        <p><img src="{% static 'images/user.png' %}" /></p>
        <p class="username">{{ post.user.username }}</p>
        <p class="post_count">{{ post.user.posts.count }} POSTS</p>
    </div>
    <div class="col-md-9 comment_div">
        <div class="comment-content">
            {% autoescape off %}
            {{ post.comment|emoticons }}
            {% endautoescape %}
            <hr>
        </div>
            {% include "comment_details.html" %}
    </div>
</section>