{% extends "base.html" %}
{% load thread_extras %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h1>{{ subject.name }}</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam in assumenda eum reprehenderit, accusamus minima eligendi incidunt odio perferendis consequuntur quasi quae iste tempore provident ut error sed totam iure.</p>
        </div>

        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-4 ">
                    <hr>
                    <h3>Welcome to the forum.
                </div>
                <div class="col-sm-4">
                    <hr>
                    <h3>Log in to start a discussion</h3>
                </div>
                {% if user.is_authenticated %}
                <div class="col-sm-4 ">
                   <hr>
                    <h3>Start a new thread</h3>
                    <p><a href="{% url 'new_thread' subject.id %}" class="btn btn-primary">New Thread</a></p>
                </div>
                    {% endif %}
                    
   {% for thread in subject.threads.all %}
     {% include "thread_item.html" %}
   {% endfor %}
                  
            </div>
        </div>
    </div>
</div>

{% endblock %}
