{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}

<div class="container">
   <div class="row">
       <div class="col-sm-6">
           <h1>About 1escape</h1>
           <p>Our unique 1 hour philosophy ensures that everyone has time to enrich their lifestyles and reach their goals. Every design feature and facility at 1escape focusses on escapism, while all classes and fitness programmes allow people to be in and out within an hour. By making fitness more accessible and by offering a wide choice of classes and facilities, 1escape encourages people to take a long-term approach to their fitness. This individualised and fun approach sets 1escape apart and our additional services make your visits even more convenient.</p>
       </div>
       <div class="col-sm-6" id="aboutlist">
           <h1>Why join?</h1>
             <ul>
                 <li>Discounted member underground parking</li>
                 <li>Free Wifi lounge area</li>
                 <li>Towel Service</li>
                 <li>Full-time locker rental available</li>
                 <li>Executive Personal Training packages</li>
                 <li>Free inductions</li>
                 <li>Wide selection of free classes</li>
             </ul>
       </div>
   </div>
   
   <div class="row">
       <div class="col-sm-12">
           <h1>Our Service</h1>
           <p>Every component of our fitness training methods, classes, equipment and services has been carefully considered for its purpose, effectiveness and benefit to each person. Rather than offer a generic range of services to satisfy most peoples broad needs, we have developed a club to meet our members more specific needs. 1escape has been designed to a very high specification and we know that it’s the little details that count. With this in mind we have carefully thought of ways to make your time at 1escape as productive and enjoyable as possible.

We understand that everyone has a different reason for joining a gym and it’s important to work out the specific needs of each individual. In order to keep our members motivated we need to provide a first-class service and plenty of choice. By doing so, we make fitness a long-term part of our member’s lifestyles without the need for a 12 month contract.</p>
       </div>
   </div>
</div>
{% endblock %}