{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stream 3 Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0.2/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>

    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
    <!-- Fixed masthead -->
    
    <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img id="logo" src="{% static 'img/logo.png' %}" width="60px" alt="1escape">
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#burger">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                </div>
                <ul id="burger" class="nav navbar-nav collapse navbar-collapse navbar-right">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    
                    <li class="dropdown">
                    <a href="#" class="dropdown-hover" data-hover="dropdown">Fitness Classes <b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-hover">
                        <li><a href="{% url 'descriptions' %}" id="dropdowntext">Class Descriptions</a></li>
                        <li><a href="#" id="dropdowntext">Class Timetable</a></li>
                    </ul>
                    </li>
                    
                    <li><a href="{% url 'forum' %}">Forum</a></li>
                    <li><a href="{% url 'location' %}">Location</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a></li>
                    {%  else %}
                        <li><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Register</a></li>
                        <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% if messages %}
            <div class="alert alert-success">
                <div class="messages">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
        
   <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
            <div class="foot-header">
                  <h3>Get in Touch</h3>
            </div>
            <div class="foot-links">
              <p>Address: Block G, Smithfield Market, Smithfield, Dublin 7</p>
              <p>Tel: (01) 4850700/01</p>
              <p>Email: info@oneescape.ie</p>
              <ul class="list-inline social-footer">
                        <li><a target="_blank" href="#"><i class="fa fa-facebook" id="footersocial"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-twitter" id="footersocial"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-instagram" id="footersocial"></i></a></li>
               </ul>
              <p>© 2017 All Rights Reserved, 1escape Health Club </p>
            </div>
        </div>
          <div class="col-sm-4">
              <div class="foot-header">
                  <h3>Opening Hours</h3>
                </div>
                <div class="foot-links">
                  <p>Monday: 6:00am - 24:00pm</p>
                  <p>Tuesday: 6:00am - 24:00pm</p>
                  <p>Wednesday: 6:00am - 24:00pm</p>
                  <p>Thursday: 6:00am - 24:00pm</p>
                  <p>Friday: 6:00am - 10:00pm</p>
                  <p>Saturday: 8:00am - 20:00pm</p>
                  <p>Sunday: 8:00am - 20:00pm</p>
          </div>
          </div>
          <div class="col-sm-4">
              <div class="foot-header">
              <h3>Location</h3>
              </div>
              <div class="foot-links">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.6482143835347!2d-6.280590684645931!3d53.349553182172755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670c2e86cecf97%3A0xb1efc7477340b492!2s1escape+Health+Club!5e0!3m2!1sen!2sie!4v1512078393836" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
    </footer>
</body>
</html>