{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1>Pilates</h1>
            <p>Pilates is a form of exercise, developed by Joseph Pilates, which emphasises the balanced development of the body through core strength, flexibility, and awareness in order to support efficient and graceful movement. Pilates works by combining breathing techniques with special active and passive stretches combined with movement.</p>
        </div>
        <div class="col-sm-4">
            <h1>Yoga</h1>
            <p>A movement practice that fuses power yoga, tribal dance and plyometrics into a high-intensity workout that transforms the body, training the core using the Spiral Structure technique.</p>
        </div>
        <div class="col-sm-4">
            <h1>Zumba</h1>
            <p>We take the “work” out of workout, by mixing low-intensity and high-intensity moves for an interval-style, calorie-burning dance fitness party. Once the Latin and World rhythms take over, you’ll see why Zumba classes are often called exercise in disguise. Super effective? Check. Super fun? Check and check.</p>
        </div>
    </div>
    
      <div class="row">
        <div class="col-sm-4">
            <h1>Hydrorider</h1>
            <p>Exclusive to 1escape, Hydrorider is the latest and hottest fitness trend. The Hydrorider class is an aqua bike that allows you to pedal while immersed in the water taking advantage of the many benefits of the aquatic environment. This unique and fun class is designed for the post-rehab patient to the elite athlete. Hydrorider has many benefits including massaging action, reducing stress on the knees and back and strengthening the lower and upper body.</p>
        </div>
        <div class="col-sm-4">
            <h1>Bootcamp</h1>
            <p>Bootcamp combines cardiovascular and resistance training in one effective workout. The class runs in circuit training style. The exercises last 20-60 seconds before you move onto the next activity and the circuit is finished after all the exercises have been completed.</p>
        </div>
        <div class="col-sm-4">
            <h1>Fit Ball Tone</h1>
            <p>Ideal for beginners and seasoned exercisers alike, this Fit Ball workout has two parts - upper body and lower body - and contains the most basic and beneficial exercises that can soon have you burning extra calories, losing body fat and enjoying a shapely new body.</p>
        </div>
    </div>
    
      <div class="row">
        <div class="col-sm-4">
            <h1>Aquafit</h1>
            <p>This is a class that always guarantees to be full of fun and is suited for all abilities - including non- swimmers, pregnant participants and people with joint injuries and is a great way to splash your way to better fitness at any age.</p>
        </div>
        <div class="col-sm-4">
            <h1>Kettlebells</h1>
            <p>It looks like a cannonball with a handle but these cast iron weights from Russia really turn up the workout volume. Build strength, stamina, endurance and flexibility as you swing, squat and lunge your way to a tighter toned body.</p>
        </div>
        <div class="col-sm-4">
            <h1>BodyAttack</h1>
            <p>A high-energy fitness class with moves that cater for total beginners to total addicts. We combine athletic movements like running, lunging and jumping with strength exercises such as push-ups and squats.</p>
        </div>
    </div>
    
      <div class="row">
        <div class="col-sm-4">
            <h1>Yogalates</h1>
            <p>Yogalates. Yogilates. Yoga lattes? Don't let the name confuse you. There's a new trend out there, and it's not on the Starbucks menu. Yogalates is spreading around the world, combining Yoga and Pilates in one workout!</p>
        </div>
        <div class="col-sm-4">
            <h1>H.I.I.T Spin</h1>
            <p>This type of training is very intense but HIIT (High Intensity Interval Training) is a miracle way to reduce your workout time and up your fat burning. Studies show that your metabolism is raised for 12-48 hours after a HIIT session.</p>
        </div>
        <div class="col-sm-4">
            <h1>BodyCombat</h1>
            <p>A high-energy martial arts-inspired workout that is totally non-contact. Punch and kick your way to fitness and burn up to 740 calories in a class. No experience needed. Learn moves from Karate, Taekwondo, Boxing, Muay Thai, Capoeira and Kung Fu.</p>
        </div>
    </div>
    
      <div class="row">
        <div class="col-sm-4">
            <h1>Brooklyn Fit Boxing</h1>
            <p>Brooklyn Fitboxing is a total body training system that combines boxing and kickboxing amd other martial arts moves in front of a professional heavy bag with functional training exercises, performed to the rhythm of the ultimate music!</p>
        </div>
        <div class="col-sm-4">
            <h1>Core Strength</h1>
            <p>This class is ideal for everyone! Core training will strengthen your abs, glutes, and back muscles to reduce the risk of lumbar strain whilst improving tone, strength and stability through the abdominals and back.</p>
        </div>
        <div class="col-sm-4">
            <h1>TRX</h1>
            <p>Using gravity and body weight as resistance, move away to increase or decrease the load on your body. Great for beginners and easy to progress, TRX develops strength, power, endurance, mobility, balance, flexibility and core stability. It also makes you feel tough.</p>
        </div>
    </div>
    
      <div class="row">
        <div class="col-sm-4">
            <h1>Spinning</h1>
            <p>A motivating calorie burning class! The ultimate indoor cycling experience to the rhythm of powerful music. Take on the terrain with your inspiring team coach who leads the pack through hills, flats, mountain peaks, time trials, and interval training.</p>
        </div>
        <div class="col-sm-4">
            <h1>Box Fit</h1>
            <p>Boxing drills and body circuit training to improve stamina, strength and burn a boxload of calories! Box Fit combines cardio, body weight exercises and abs all into one workout. You'll save time by burning fat, toning muscle and getting a flat stomach all at once.</p>
        </div>
        <div class="col-sm-4">
            <h1>BodyPump</h1>
            <p>BodyPump is for anyone looking to get lean, toned and fit fast. Using light to moderate weights with lots of repetitions you will burn up to 590 calories.</p>
        </div>
    </div>
    
</div>
{% endblock %}