{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}

<div class="container">
   <div class="row">
       <div class="col-sm-6 location">
           <h1 class="header">Location</h1>
           <p>Smithfield is located halfway between Phoenix Park and O’Connell St. on the northside of the Liffey. The market can be found close to the Four Courts. You’ll see a sign along the quays that says Smithfield. You can’t miss it.</p>
       </div>
       <div class="col-sm-6">
           <h1 class="header">Map</h1>
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.6483932836304!2d-6.2805906844783514!3d53.34954997997964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670c2e86cecf97%3A0xb1efc7477340b492!2s1escape+Health+Club!5e0!3m2!1sen!2sie!4v1512250297509" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
       </div>
   </div>
   <hr>
   <div class="row">
       <div class="col-sm-6">
           <h1 class="header">Directions by car</h1>
           <h5>From Heuston Station</h5>
           <p>Cross the River Liffey at Frank Sherwin Bridge - N4.
            Bear right onto Wolfe Tone Quay - N4.
            Continue straight for 1km and turn left at traffic lights onto Blackhall Place
            Turn right at second set of traffic lights, then turn right at next set of traffic lights.
            Entrance to Park Rite car park at Smithfield is on your left hand side.
            1escape health club is located to the front side of the car park entrance, facing
            onto Smithfield Plaza.</p>
            <h5>From O'Connell Bridge</h5>
            <p>Drive forward onto Aston Quay - N4, continuing straight ahead along Wellington Quay and then onto Merchants Quay.
            At traffic lights turn right over bridge leading to Church Street.
            Continue through 2 sets of traffic lights and at third set (junction with North King St), take left turn and continue straight for 100m.
            1escape health club will be in view on your left hand side</p>
       </div>
       <div class="col-sm-6">
           <h1 class="header">Directions by foot</h1>
           <h5>From Dame Street</h5>
           <p>From Dame Street (outside Trinity College) walk straight up Dame Street to Lord Edward Street to Christchurch Place.
            Carry on past Christchurch Cathedral and take the next right onto Bridge Street.
            Head straight over Merchants Quay and Fr. Mathew bridge across Arran Quay.
            Walk up Church Street past St. Michans Cathedral.
            At the cross roads. take the left turn onto North King Street.
            Continue on North King Street and you will find 1escape health club on your left hand side at the top of Smithfield Market.</p>
       <h5>From O'Connell Street</h5>
       <p>From O'Connell Street head towards Henry Street.
        Continue along Henry Street onto Mary Street and then turn right at Jervis Street.
        At the top of the road take a left onto Parnell Street and then a slight right to stay on Parnell Street.
        Continue onto Capel Street taking the next left at the traffic lights onto North King Street.
        Continue Straight on North King Street through the cross roads with Church Street.
        Continue on North King Street and you will find 1escape health club on your left hand side at the top of Smithfield Market.</p>
       </div>
   </div>
   <hr>
     <div class="row bottom-margin">
       <div class="col-sm-6">
           <h1 class="header">Carpark</h1>
           <p>Underground Car parking is conveniently available in the Park Rite Car Park off Queen Street. As a member of 1escape you may get your car park ticket stamped at our reception desk to receive a preferential parking rate from the cashier desk. Alternatively pay and display parking is available outside the club on the market.</p>
       </div>
       <div class="col-sm-6">
           <h1 class="header">By bike</h1>
           <p>If you are coming on your own bike, we would recommend that you park it in the secure underground Park Rite car park (directions to the left). This can be accessed from Queen Street and a lift will then take you up to the market. Alternatively there are bike racks at the end of the path between the Maldron Hotel and 1escape.</p>
       </div>
   </div>
</div>
{% endblock %}